* {
  box-sizing: border-box;
}

:root {
  --italian-green-color: #008542;
  --italian-red-color: #ce222a;
  --italian-white-color: #f4f5f0;
  --light-tomato-color: #ff6347cc;
  --button-color: ;
  --clock-animation: 2.5s .4s 1;
  --blink-caret-color: white;
  font-size: 10px;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

html:before, html:after {
  content: "";
  flex: 2rem;
}

html:before {
  background-color: var(--italian-green-color);
}

html:after {
  background-color: var(--italian-red-color);
}

body {
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-family: Orbitron, sans-serif;
  display: flex;
  overflow-x: hidden;
}

h1 {
  color: var(--italian-green-color);
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: 0;
  font-size: 2rem;
}

h1 > a {
  color: var(--italian-green-color);
  text-decoration: none;
}

a:focus-visible {
  outline: .2rem dashed tomato;
}

a:hover {
  color: tomato;
}

section {
  --gap: 1.5rem;
  gap: var(--gap);
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header"
                       ". counter ."
                       "clock clock clock"
                       ". start-stop ."
                       ". reset ."
                       "message message message";
  margin: 0 2rem;
  display: grid;
}

section header {
  grid-area: header;
}

h2 {
  letter-spacing: .1rem;
  font-size: 1.9rem;
}

#counter {
  background-color: var(--light-tomato-color);
  --border-size: .2rem;
  border-left: var(--border-size) solid black;
  border-right: var(--border-size) solid black;
  border-top: var(--border-size) solid black;
  color: #000;
  margin-bottom: calc(-1 * var(--gap));
  z-index: 1;
  grid-area: counter;
  font-size: 1.2rem;
}

#clock {
  background-color: var(--light-tomato-color);
  color: #000;
  border: .3rem solid #000;
  flex-flow: wrap;
  grid-area: clock;
  justify-content: center;
  padding: 0;
  font-family: Courier New, Courier, monospace;
  font-size: 6.5rem;
  transition-duration: .3s;
  display: flex;
  position: relative;
  box-shadow: .1rem 0 1rem #323232;
}

#clock:focus-visible {
  background-image: repeating-linear-gradient(-45deg, #0000 0 3rem, #ffffff80 3rem 6rem);
}

#clock:hover {
  cursor: pointer;
  background-color: tomato;
  box-shadow: .1rem 0 1.5rem #323232;
}

#clock:before {
  animation: show-bg var(--clock-animation);
  background-color: var(--light-tomato-color);
  content: "";
  position: absolute;
  left: 0;
}

@keyframes show-bg {
  from, to {
    min-width: 100%;
    min-height: 100%;
  }
}

#clock:after {
  animation: type-text var(--clock-animation), blink-caret .75s step-end infinite;
  border-right: .2rem solid var(--blink-caret-color);
  color: #fff;
  content: "";
  position: absolute;
}

@keyframes type-text {
  0% {
    content: "S";
  }

  7% {
    content: "Se";
  }

  14% {
    content: "Set";
  }

  21% {
    content: "Set ";
  }

  28% {
    content: "Set T";
  }

  35% {
    content: "et Ti";
  }

  42% {
    content: "t Tim";
  }

  49% {
    content: " Time";
  }

  56% {
    content: "Timer";
  }

  100% {
    content: "Timer";
  }
}

@keyframes blink-caret {
  from, to {
    border-color: #0000;
  }

  50% {
    border-color: var(--blink-caret-color);
  }
}

#start-stop {
  grid-area: start-stop;
}

#reset {
  grid-area: reset;
}

#start-stop, #reset {
  background-color: hsla(var(--button-color), .2);
  cursor: pointer;
  border: .2rem solid #000;
  border-radius: .4rem;
  padding: 0 .7rem;
  font-family: Orbitron, sans-serif;
  font-size: 2.6rem;
  transition-duration: .3s;
  box-shadow: .1rem 0 .5rem #323232;
}

#start-stop:focus-visible, #reset:focus-visible {
  background-image: repeating-linear-gradient(-45deg, #0000 0 1rem, #fff 1rem 2rem);
}

#start-stop:hover, #reset:hover {
  background-color: hsla(var(--button-color), .4);
  box-shadow: .1rem 0 1rem #323232;
}

.start {
  --button-color: 122, 39%, 49%;
}

.stop {
  --button-color: 4, 90%, 58%;
}

#reset {
  --button-color: 195, 100%, 36%;
}

#message {
  letter-spacing: .1rem;
  grid-area: message;
  font-size: 1.6rem;
}

#hidden-message {
  position: absolute;
  left: -100vmax;
}

.footer {
  color: var(--italian-red-color);
  letter-spacing: .1rem;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  #clock {
    font-size: 8rem;
  }
}

@media screen and (min-width: 640px) and (min-height: 640px) {
  :root {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.2cdaf7bc.css.map */
