* {
  box-sizing: border-box;
}

:root {
  --italian-green-color: hsl(150, 100%, 27%);
  --italian-white-color: hsl(72, 20%, 95%);
  --darker-italian-white-color: hsl(72, 20%, 92%);
  --italian-red-color: hsl(357, 72%, 47%);
  --font-color: hsl(288, 80%, 5%);
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

.full-screen-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.full-screen-container::before {
  content: "";
  flex-grow: 1;
  background-color: var(--italian-green-color);
}

.full-screen-container::after {
  content: "";
  flex-grow: 1;
  background-color: var(--italian-red-color);
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  color: var(--italian-green-color);
  margin-bottom: 0;
  font-size: 22px;
  letter-spacing: 2px;
}

.info {
  font-weight: normal;
  color: hsl(150, 100%, 26%);
  text-decoration: none;
}

.info:hover {
  color: tomato;
}

.info:focus-visible {
  outline: 2px dashed tomato;
}

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-logo {
  margin-top: 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.counter {
  z-index: 1;
  font-size: 15px;
  font-weight: 600;
  color: black;
  background-color: hsl(9, 100%, 64%, 0.8);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 16px;
}

.clock {
  margin-bottom: 12px;
  display: flex;
  background-color: hsl(9, 100%, 64%, 0.8);
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 88px;
  padding: 0 2vw;
  border: 3px solid black;
  -webkit-box-shadow: 1px 0px 20px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 1px 0px 20px 0px rgba(50, 50, 50, 1);
  box-shadow: 1px 0px 20px 0px rgba(50, 50, 50, 1);
  transition-duration: 0.3s;
}

.clock:hover {
  cursor: pointer;
  background-color: tomato;
  -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
}

.clock:focus-visible {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 48px,
    rgba(255, 255, 255, 0.5) 48px 96px
  );
}

button:focus-visible {
  outline: none;
}

.button-group > button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid var(--font-color);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 1);
  box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 1);
}

button:hover {
  -webkit-box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 1);
  box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 1);
}

button.start {
  background-color: hsla(122, 39%, 49%, 0.2);
}

button.start:hover {
  background-color: hsla(122, 39%, 49%, 0.4);
}

button.stop {
  background-color: hsl(4, 90%, 58%, 0.2);
}

button.stop:hover {
  background-color: hsl(4, 90%, 58%, 0.4);
}

button.reset {
  background-color: hsl(195, 100%, 36%, 0.2);
}

button.reset:hover {
  background-color: hsl(195, 100%, 36%, 0.4);
}

button.start:focus-visible,
button.stop:focus-visible,
button.reset:focus-visible {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 11px,
    white 11px 22px
  );
}

.message {
  margin-top: 0.5vh;
  font-size: 15px;
  letter-spacing: 1px;
}

.footer {
  color: var(--italian-red-color);
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0.5vh 0.5vw;
}
